@import "../style/variables";

main.home {
  width: 100%;
  height: 100%;
  margin: 0 auto;

/*
* Hero Section
*/

  .hero {
    position: relative;
    width: 100%;
    height: 512px;
    @media (max-width: $breakpointMin) {
      height: auto;
    }
    overflow: hidden;
    background: #8fe286; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjOGZlMjg2IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzhlZWFlOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(-45deg, #8fe286 0%, #8eeae9 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#8fe286), color-stop(100%,#8eeae9)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg, #8fe286 0%,#8eeae9 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg, #8fe286 0%,#8eeae9 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg, #8fe286 0%,#8eeae9 100%); /* IE10+ */
    background: linear-gradient(135deg, #8fe286 0%,#8eeae9 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8fe286', endColorstr='#8eeae9',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */

    .bgShader {
      width: inherit;
      height: inherit;
      background: url(/assets/images/bgshader.png);
    }

    .header {

      a {
        float: left;
        font: 100% $bodyFont;
        font-size: 16px;
        font-weight: 700;
        color: $heroTextColor;
        text-decoration: none;
        &.logo {
          margin-top: 20px;
          padding-left: 20px;
          font: 100% $GBFont;
          font-size: 28px;
          @media (max-width: $breakpointMin) {
            float: none;
            text-align: center;
            padding: 0;
            width: 100%;
            display: inline-block;
          }
        }
        &.login {
          float: right;
          margin: 35px 20px 0 0;
          @media (max-width: $breakpointMin) {
            margin-top: 20px;
          }
        }
      }
      ul {
        float: left;
        width: 230px;
        padding: 0;
        margin: 35px 0px 0px 40px;
        @media (max-width: $breakpointMin) {
          margin:20px 0 0 20px;
          float: none;
          width: auto
        }
        li {
          float: left;
          margin: 0 10px;
          list-style: none;
          &:first-child{
            margin-left: 0;
          }
        }
      }
    }

    .content {
      margin: 0 auto;
      max-width: $maxWidth;
    }

    .jumbotron {
      float: left;
      margin-top: 110px;
      margin-left: 40px;
      color: $heroTextColor;
      @media (max-width: $breakpointMin) {
        float: none;
        padding: 20px;
        margin: 0;
      }
      .tagline {
        font: 100% $bodyFont;
        font-size: 36px;
        line-height: 120%;
        @media (max-width: $breakpointMin) {
          font-size: 28px;
        }
      }
      .subline {
        margin-top: 10px;
        line-height: 140%;
      }
      .userActions {
        margin-top: 50px;
        font: 100% $bodyFont;
        font-size: 24px;
        @media (max-width: $breakpointMin) {
          margin-top: 20px;
        }
        a {
          color: $heroTextColor;
          text-decoration: none;
        }
        .signUp {
          padding: 15px;
          border: 1px white solid;
          @media (max-width: $breakpointMin) {
            padding: 0;
            font-size: 21px;
            display: inline-block;
            width: 100%;
            text-align: center;
            line-height: 3em;
          }
          img{
            position: relative;
            width: 35px;
            top: 8px;
            margin-left: 6px;
          }
        }
      }
    }

    .usersContribs {
      width: $feedWidth;
      float: right;
      top: 76px;
      margin-right: 40px;
      text-align: center;
      @media (max-width: $breakpointMin) {
        float: none;
        margin: auto;
        top: auto;
        width: 100%;
        overflow: hidden;
      }
      .header {
        color: $heroTextColor;
        .title {
          margin-top: 20px;
          font-size: 24px;
          @media (max-width: $breakpointMin) {
            margin-top: 0;
          }
        }
        .amountCounter{
          font-size: 54px;
          &.zero {
            display: none;
          }
        }
      }
    }
  }

  .gradient {
    filter: none;
  }

/*
* Content Sections
*/

  .contentContainer {

    .contentSection {
      position: relative;
      margin: 0 auto;
      text-align: center;
      margin-bottom: 40px;

      .title {
        padding-top: 40px;
        font: 100% $boldFont;
        font-size: 20px;
        color: $textColor;
      }

      .line {
        padding: 8px 0 30px 0;
      }

      .text {
        margin: 0 auto;
        font-size: 18px;
        line-height: 140%;
        text-align: justify;
      }


      &.one {
        max-width: $maxWidth;
      }
      &.two {
        background-color: #F7F7F7;
        .text {
          padding: 0 200px;
          max-width: $maxWidth;
          font-size: 20px;
          @media (max-width: $breakpointMin) {
            font-size: 14px;
            padding: 0 20px;
          }
        }
      }


      .contentSteps {

        .step {
          float: left;
          width: 33.33%;
          @media (max-width: $breakpointMin) {
            float: none;
            width: 100%;
            img {
              max-width: 90%;
            }
          }

          .steptitle {
            margin-bottom: 10px;
            font: 100% $bodyFont;
            font-size: 20px;
            @media (max-width: $breakpointMin) {
              margin: 0;
            }
          }

          .text {
            padding: 0 40px;
            font-size: 14px;
            @media (max-width: $breakpointMin) {
              padding: 0 10px 20px;
              text-align: center;
            }
          }

        }
      }
    }
  }
}
