@import "../style/variables";

.home {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  background: url(/img/bg-mobile.jpg) left center no-repeat;
  background-size: cover;

  .overlay {
    float: left;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.7);
  }

  .content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
  }

  .logo {
    display: block;
    font-size: 60px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .tagline {
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
    font-size: 30px;

    p {
      color: #fff;
      padding: 0;
    }

    em {
      font-style: normal;
      color: $primaryAccent;
    }
  }

  .login-btn {
    display: block;
    position: relative;
    padding: 3% 10% 3% 23%;
    margin: 0 auto;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.5;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border-radius: 4px;
    background: #444;
    color: #fff;
    text-decoration: none;
    max-width: 260px;
    border: 2px solid rgba(255,255,255,0.3);

    &:hover {
      background: #333;
    }

    .icon {
      position: absolute;
      top: 0;
      left: 0;
      float: left;
      width: 50px;
      height: 100%;
      border-right: 2px solid rgba(255,255,255,0.3);

      &:before {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        width: 100%;
        height: 30px;
        transform: translateY(-50%);
        background: url(/img/github-logo.svg) no-repeat;
        background-size: 100% 100%;
      }
    }
  }

  .feed {
    padding: 15px 0;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    max-width: 80%;
    margin: 20px auto 30px;
    overflow: hidden;
    color: #fff;

    ul {
      margin: 0;
      padding: 0;
    }

    .user {
      list-style: none;
      overflow: hidden;
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .user-img {
      float: left;
      width: 15%;
    }

    .user-info {
      float: left;
      width: 65%;

       p {
         display: block;
         font-size: 14px;
         width: 100%;
         height: 50%;
         text-align: left;
         padding: 0 0 0 6%;
         white-space: nowrap;
         text-overflow: ellipsis;
         color: #fff;
         overflow: hidden;
       }

       a {
         color: $primaryAccent;
         text-decoration: none;
         border-bottom: 1px solid $primaryAccent;
       }
    }

    .time-elapsed {
      float: left;
      width: 20%;
      color: #fff;
      font-size: 11px;
      padding-top: 15px;
    }
  }
}
