@import "../../../style/variables";

main.settings {

  .settingsContainer {
    @include pageContainer;
    padding: 0 40px;
    text-align: left;
    @media (max-width: $breakpointMin) {
      padding: 0 20px;
    }
  }

  section {
    margin: 20px 0;
  }


  h1 {
    font: 100% $bodyFont;
    font-size: 36px;
    color: $textColor;
  }

  h2 {
    font: 100% $bodyFont;
    font-size: 24px;
    color: $primaryAccent;
  }

  a {
    margin-right: 10px;
    color: $primaryAccent;
    &:hover {
      color: $primaryAccentHover;
    }
  }

  button {
    margin: 5px 0;
    cursor: pointer;
    background: $textColor;
    color: white;
    padding: 8px 16px;
    &:hover {
      background: $textColorHover;
    }
  }

  .left {
    display: inline-block;
    margin-right: 10px;
    @media (max-width: $breakpointMin) {
      width: 100%;
      padding-bottom: 20px;
    }
  }

  .accountType {
    .types {
      &.hidden {
        .public {
          cursor: pointer;
          background: $primaryAccent;
          color: white;
          &:hover {
            background: $primaryAccentHover;
          }
        }
        .private {
          color: $primaryAccent;
        }
      }
      &:not(.hidden) {
        .public {
          color: $primaryAccent;
        }
        .private {
          cursor: pointer;
          background: $primaryAccent;
          color: white;
          &:hover {
            background: $primaryAccentHover;
          }
        }
      }
    }
    .type {
      border: 1px solid $primaryAccent;
      padding: 8px 16px;
      &:first-child {
        border-right: none;
      }
    }
  }
  .contribAmountPerPush {
    > span {
      border: 1px solid $primaryAccent;
      margin-right: 8px;
      padding: 8px 16px;
      cursor: pointer;
      background: $primaryAccent;
      color: white;
      font-family: $boldFont;
      @media (max-width: $breakpointMin) {
        display: block;
        text-align: center;
        max-width: 100px;
        margin-right: 0;
      }
      &:hover {
        background: $primaryAccentHover;
      }
      &.active {
        cursor: default;
        background: white;
        color: $primaryAccent;
      }
    }
  }
  .partners {
    a {
      @media (max-width: $breakpointMin) {
        display: block;
        margin-bottom: 10px;
      }
    }
  }
}
