main.settings {
  a {
    margin-right: 10px;
  }
  .accountType {
    .types {
      &.hidden {
        .public {
          cursor: pointer;
          background: gray;
        }
        .private {
        }
      }
      &:not(.hidden) {
        .public {
        }
        .private {
          cursor: pointer;
          background: gray;
        }
      }
    }
    .type {
      border: solid 1px gray;
      padding: 2px;
      &:first-child {
        border-right: none;
      }
    }
  }
}