/*
  VARIABLES
*/

// TYPOGRAPHY
$bodyFont: 'Helvetica Neue', Helvetica, Arial, sans-serif;

// COLOURS
$bgColor: rgba(255,255,255,1);
$textColor: rgba(0,0,0,1);
$lineColor: rgba(0,0,0,1);
$primaryAccent: #64B5F6;

// DIMENSIONS
$headerTabHeight: 50px;
