@import "variables";

* {
  box-sizing: border-box;
}

body {
  background: $bgColor;
  color: $textColor;
  font-family: $bodyFont;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

#app {
  height: 100%;
}

h1, h2, h3, h4, h5 {
}

h1, h2, h3, h4, h5, p {
  margin: 0;
  padding: .2em 0;
}

a {
  color: hsl(200, 50%, 50%);
}

button {
  cursor: pointer;
  font-family: $bodyFont;
  font-size: 1em;
  border: none;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
