@import "../../style/variables";

div.paymentMethod {
  display: none;
  // background: rgba(0,255,255,.5);
  // position: fixed;
  // z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: relative;
  .loading {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.3) url(/assets/images/loading-spin-white.svg) no-repeat 50% 50%;
    z-index: 1;
    display: none;
  }
  .helloPaymentWrapper {
    @include centering;
    height: 100%;
    opacity: 0;
    transition: opacity .5s;
  }
  .closeButton {
    position: absolute;
    right: 0;
    padding: 20px;
    cursor: pointer;
    &:before {
      content: "X";
      font-size: 1.4em;
    }
  }
  form {
    position: relative;
    width: 500px;
    margin: auto;
    input {
      margin-bottom: 10px;
      font-family: $bodyFont;
      padding: 10px;
      font-size: 1em;
      border: none;
      width: 320px;
    }
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0 0 10px;
    text-align: left;
    li {
      display: inline-block;
      margin-right: 10px;
      margin-bottom: 1px;
      span {
        font-size: 1.2em;
      }
      &.cardholderName, &.number {
        width: 100%;
      }
      &.expirationMonth, &.expirationYear {
        input {
          margin-left: 5px;
          width: 40px;
        }
      }
      &.cvv {
        margin-left: 15px;
        margin-right: 0;
        input {
          margin-left: 5px;
          width: 50px;
        }
      }
      &.postalCode {
        margin-left: 26px;
        margin-right: 0;
        input {
          margin-left: 4px;
          width: 70px;
        }
      }
      &.number {
        input {
          margin-left: 91px;
        }
      }
    }
  }
  button {
    text-align: left;
    &.cancel, &.add {
      width: 100px;
      text-align: center;
    }
    &.cancel {
      margin-right: 8px;
    }
  }
  &.show {
    display: block;
    .helloPaymentWrapper {
      opacity: 1;
    }
  }
}
