@import "../../../style/variables";

/*
* mixins
*/
.greenBorderContainer {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid $homePageTextAccentColor;
}

main.dashboard {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  margin-top: -40px;

  .container {
    position: relative;
    margin: 0 auto;
    max-width: 1280px;

    .userProfile {
      width: 600px;
      margin: 0 auto;
    }

    .wings {
      position: relative;
      width: inherit;

      .text {
        position: absolute;
        &.username {
          float: right;
          top: 50px;
        }
        &.total {
          float: right;
          top: 50px;
          right: 0;
        }
        &.amount {
          float: right;
          top: 90px;
          right: 0;
        }
      }

      hr {
        display: block;
        position: absolute;
        top: 76px;
        width: inherit;
        height: 1px;
        border: 0;
        border-top: 1px solid $homePageTextAccentColor;
        margin: 0;
        padding: 0;
        z-index: 1;
      }

      .avatarWrapper {
        position: relative;
        margin: 0 auto;
        width: 140px;
        height: 140px;
        overflow: hidden;
        border-radius: 50%;
        z-index: 2;
        img {
          position: absolute;
          width: 140px;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
        }
      }
    }

    .greetings {
      position: relative;
      margin: 0 auto;
      width: 300px;
      text-align: center;
    }

    .activityContainer {
      @extend .greenBorderContainer;
      text-align: center;
    }

    .reposHeader {
      text-align: left;
      width: inherit;
      .one {
        width: 400px;
      }
      .two {
        width: 120px;
      }
      .three {

      }
    }

    .repos {
      width: inherit;
      @extend .greenBorderContainer;

      .repo {

        tr {
          padding: 10px auto;
        }

        .name {
          width: 400px;
          font: 100% $codeFontRegular;
          font-size: 20px;
        }

        .raised {
          width: 120px;
          font: 100% $boldFont;
          font-size: 24px;
          color: #BDC3C7;
        }

        .yes {
          color: $homePageTextAccentColor;
        }

        .repoAction {
          .button {
            display: none;
            width: 22px;
            height: 22px;
            cursor: pointer;
          }
        }

        &.remove {
          .button#remove {
            display: inline-block;
            background: url(/assets/images/remove.png) no-repeat;
          }
        }
        &.add {
          .button#add {
            display: inline-block;
            background: url(/assets/images/add.png) no-repeat;
          }
        }
      }
    }

  }
}
