@import "../../../style/variables";

/*
* mixins
*/
@mixin greenBorderContainer {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid $primaryAccent;
}

main.dashboard {

  .contribAmountPerPush {
    > span {
      border: solid 1px white;
      margin-right: 5px;
      padding: 5px 10px;
      cursor: pointer;
      border-radius: 6px;
      line-height: 2.5em;
      font-family: $boldFont;
      &.active {
        cursor: default;
        background: white;
        color: $primaryAccent;
      }
    }
  }

  .onboardingContainer {
    padding: 10px;
    background: $primaryAccent;
    color: white;
    h3 {
      span {
        font-family: $boldFont;
      }
    }
    button {
      background: white;
      color: $primaryAccent;
      border-radius: 6px;
      padding: 8px 10px;
    }
  }

  .container {
    position: relative;
    margin: 0 auto;
    max-width: 1280px;

    .userProfile {
      width: 600px;
      margin: 0 auto;
    }

    .wings {
      position: relative;
      width: inherit;

      .text {
        position: absolute;
        font: 100% $bodyFont;
        font-size: 24px;
        &.username {
          float: right;
          top: 40px;
        }
        &.total {
          float: right;
          top: 40px;
          right: 0;
          color: $primaryAccent;
        }
        &.amount {
          font: 100% $boldFont;
          font-size: 36px;
          float: right;
          top: 80px;
          right: 0;
          color: $primaryAccent;
        }
      }

      hr {
        display: block;
        position: absolute;
        top: 76px;
        width: inherit;
        height: 1px;
        border: 0;
        border-top: 1px solid $primaryAccent;
        margin: 0;
        padding: 0;
        z-index: 1;
      }

      .avatarWrapper {
        position: relative;
        margin: 0 auto;
        width: 140px;
        height: 140px;
        overflow: hidden;
        border-radius: 50%;
        z-index: 2;
        img {
          position: absolute;
          width: 140px;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
        }
      }
    }

    .greetings {
      position: relative;
      margin: 30px auto;
      width: inherit;
      font: 100% $bodyFont;
      font-size: 36px;
    }

    .activityContainer {
      @include greenBorderContainer;
      margin-bottom: 30px;
      .title {
        font: 100% $bodyFont;
        font-size: 12px;
      }
    }

    .reposHeader {
      text-align: left;
      width: inherit;
      .one {
        width: 400px;
        font: 100% $bodyFont;
        font-size: 18px;
      }
      .two {
        width: 120px;
        font: 100% $bodyFont;
        font-size: 18px;
      }
      .three {
        font: 100% $bodyFont;
        font-size: 18px;
      }
    }

    .repos {
      width: inherit;
      @include greenBorderContainer;

      .repo {

        tr {
          padding: 10px auto;
        }

        .name {
          width: 390px;
          font: 100% $codeFontRegular;
          font-size: 20px;
          text-align: left;
        }

        .raised {
          width: 110px;
          font: 100% $boldFont;
          font-size: 24px;
          color: #BDC3C7;
          text-align: left;
        }

        .yes {
          color: $primaryAccent;
        }
        $repoActionIconSize: 22px;
        .repoAction {
          .button {
            display: none;
            width: $repoActionIconSize;
            height: $repoActionIconSize;
            cursor: pointer;
          }
          .loading {
            position: absolute;
            z-index: 1;
            background: white;
            display: none;
            margin-left: 12px;
            img {
              width: $repoActionIconSize;
            }
            &[show="true"] {
              display: block;
            }
          }
        }

        &.remove {
          .button#remove {
            display: inline-block;
            background: url(/assets/images/remove.png) no-repeat;
          }
        }
        &.add {
          .button#add {
            display: inline-block;
            background: url(/assets/images/add.png) no-repeat;
          }
        }
      }
    }

  }
}
