main.dashboard {

  .userProfile {

    .header {

      .avatarWrapper {
        position: relative;
        width: 50px;
        height: 50px;
        overflow: hidden;
        border-radius: 50%;
        img {
          position: absolute;
          width: 50px;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
        }
      }
      .username {

      }
      .greetings {

      }
      .subGreetings {

      }
      .totalContrib {

      }

    }

    .repos {
      button {
        display: none;
      }
      .repo {
        &.remove {
          button.remove {
            display: inline-block;
          }
        }
        &.add {
          button.add {
            display: inline-block;
          }
        }
      }
    }

  }






}
