@import "../../style/variables";

.userNav {
  overflow: hidden;
  .header {
    width: 100%;
    height: 75px;
    background: rgb(143,226,134); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjOGZlMjg2IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzhlZWFlOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(-45deg,  rgba(143,226,134,1) 0%, rgba(142,234,233,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(143,226,134,1)), color-stop(100%,rgba(142,234,233,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  rgba(143,226,134,1) 0%,rgba(142,234,233,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  rgba(143,226,134,1) 0%,rgba(142,234,233,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  rgba(143,226,134,1) 0%,rgba(142,234,233,1) 100%); /* IE10+ */
    background: linear-gradient(135deg,  rgba(143,226,134,1) 0%,rgba(142,234,233,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8fe286', endColorstr='#8eeae9',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */

    .bgShader {
      width: inherit;
      height: inherit;
      background: url(/assets/images/bgshader.png);
    }

    .logo {
      position: absolute;
      margin-top: 20px;
      padding-left: 20px;
      font: 100% $GBFont;
      font-size: 28px;
      color: $heroTextColor;
    }

    .menuButton {
      float: right;
      margin: 35px 20px 0 0;
      font: 100% $boldFont;
      font-size: 16px;
      font-weight: 700;
      vertical-align: middle;
      color: $heroTextColor;
    }

    .hmbr {
      width: 20px;
      margin-left: 4px;
    }
  }
}

.menu {
  right: 20px;
  padding: 1px;
  width: 160px;
  background: #34495E;
  border: 5px solid #8EEAE9;
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.50);
  transform: translateY(-25%);
  opacity: 0;
  transition: all 0.2s ease;
  z-index: 10;
  position: absolute;

  &.visible {
    opacity: 1;
    transform: translateY(-10%);
  }

  ul {
    padding: 0 20px;
  }

  li {
    list-style-type: none;
  }

  li a {
    font: 100% $boldFont;
    font-size: 16px;
    color: $heroTextColor;
    &:hover {
      color: #8EEAE9;
    }
    &.active {
      cursor: default;
      color: #8EEAE9;
    }
  }
}
